.activ_container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: white;
    height: 100%;
    width: 100%;
}
.activ_activities_container_browser{
    margin: 0 30% 0 30%;
}
.activ_activities_container_mobile{
    margin: 0 7% 0 7%;
}
.activ_header{
    display: flex;
    text-align: center;
    justify-content: center;
}
.activ_activities_card{
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.3s;
    display: flex;
    align-items: flex-end;
    &:hover{
        .activ_activities_card_infos{
            visibility: visible;
            opacity: 1;
            transition: 0.5s;
        }
    }
}
.activ_activities_card_infos{
    visibility: hidden;
    background-color: black;
    opacity: 0;
    width: 100%;
    height: 20%;
}
