.back-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
}
@keyframes blink {
    0% {
        box-shadow: 0 0 5px lightblue;
    }
    50% {
        box-shadow: none;
    }
    100% {
        box-shadow: 0 0 5px lightblue;
    }
}
@-webkit-keyframes blink {
    0% {
        box-shadow: 0 0 5px lightblue;
    }
    50% {
        box-shadow: 0 0 0;
    }
    100% {
        box-shadow: 0 0 5px #EC7A44;
    }
}