.App {
    text-align: center;
    color: white;
  }
.main-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &.active{
        filter: blur(5px);
        -webkit-filter: blur(5px);
        pointer-events: none;
    }
    .header-title{
        flex: 1;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    p{
        height: 5%;
        margin-bottom: -18%;
        font-size: 15px;
        font-weight: 500;
    }
}
.title{
    color: white;
    font-size: .8rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    width: 300px;
}
.share-btn{
    margin-top: 20%;
    display: grid;
    flex-direction: row;
    svg{
        size: 50px;
    }
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-self: center;
    padding: 5px;
}
.all-links{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    a{
        cursor: pointer;
        width: 100%;
        
        div{
            height: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 15px;
            margin: 10px 0 10px 0;
            border-radius: 10px;
            background-color: transparent;
            color: white;
            border-style: solid;
            border-width: 1px;
            &:hover{
                background-color: white;
                color: #25296b;
            }
        }
        
    }
}
.modal{
    margin: 0;
    background-color: lightblue;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .close-btn{
        float: right;
    }
    &.active{
        opacity: 1;
        z-index: 99;
    }
}