.App {
    text-align: center;
    color: white;
  }
.main-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    &.active{
        filter: blur(5px);
        -webkit-filter: blur(5px);
        pointer-events: none;
    }
    .header-title{
        flex: 1;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    p{
        font-size: 15px;
        font-weight: 500;
    }
    .share-us-title{
        margin-top: 7%;
        margin-bottom: -3%;
    }
}
.title{
    color: white;
    font-size: .8rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    width: 330px;
}
.share-btn{
    display: grid;
    flex-direction: row;
    svg{
        size: 50px;
    }
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-self: center;
    padding: 5px;
}
.all-links{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    a{
        cursor: pointer;
        width: 100%;
        text-decoration: solid;
        div{
            height: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 15px;
            margin: 7px 0 7px 0;
            border-radius: 10px;
            background-color: transparent;
            color: white;
            border-style: solid;
            border-width: 1px;
            transition: all .2s ease-in-out; 
            &:hover{
                background-color: white;
                color: #25296b;
                transform: scale(1.1);

            }
        }
        
    }
}

.modal{
    margin: 0;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .close-btn{
        float: right;
    }
    &.active{
        opacity: 1;
        z-index: 99;
    }
}
.logo{
    border-radius: 50%;
    
}
@keyframes blink {
    0% {
        box-shadow: 0 0 10px lightblue;
    }
    50% {
        box-shadow: none;
    }
    100% {
        box-shadow: 0 0 10px lightblue;
    }
}
@-webkit-keyframes blink {
    0% {
        box-shadow: 0 0 10px lightblue;
    }
    50% {
        box-shadow: 0 0 0;
    }
    100% {
        box-shadow: 0 0 10px #EC7A44;
    }
}