.main-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .header-title{
        flex: 1;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}
.title{
    color: white;
    font-size: .8rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    width: 300px;
}
.share-btn{
    margin-top: 10px;
    display: grid;
    flex-direction: row;
    svg{
        size: 50px;
    }
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-self: center;
    padding: 5px;
    
}
.all-links{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    a{
        cursor: pointer;
        width: 100%;
        
        div{
            height: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 15px;
            margin: 10px 0 10px 0;
            border-radius: 10px;
            background-color: transparent;
            color: white;
            border-style: solid;
            border-width: 1px;
            &:hover{
                background-color: white;
                color: #25296b;
            }
        }
        
    }
}